.resetpassword-header{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn-link{
    padding: 5px;
    margin: 5px 0px;
    text-decoration: underline;
    cursor: pointer;
  }
  