*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: none;
}

.container{
  display: flex;
}

main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: #025041;
  color: #fff;
  height: 100vh;
  width: 300px;
  transition: all 0.5s;
}

.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo{
  font-size: 30px;
}

.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #000;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background: lightskyblue;
  color: #025041;
  transition: all 0.5s;
}

.active{
  background: lightskyblue;
  color: #000;
}

.icon, .link_text{
  font-size: 20px;
}

section .contentBx .formBx .inputBx button {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #c1c9c1;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 10px;
  background: transparent;
  color: #025041;
}

section .contentBx .formBx .inputBx button[type="submit"] {
  color: #fff;
  background: #025041;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

section .contentBx .formBx .inputBx button[type="submit"]:hover {
  background: #023d31;
}

.invalid-feedback{
  color: red;
}

