section .contentBx .formBx .inputBx button {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #c1c9c1;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 10px;
  background: transparent;
  color: #025041;
}

section .contentBx .formBx .inputBx button[type="submit"] {
  color: #fff;
  background: #025041;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

section .contentBx .formBx .inputBx button[type="submit"]:hover {
  background: #023d31;
}

.invalid-feedback{
  color: red;
}
